:<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction Histogram</title>
      <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>



</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Prediction Charts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#predictionChart">Bar Chart</a>
            </li>
           
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="predictionChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="predictionPieChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="predictionBarChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="predictionLineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>




    <script>
        Chart.scaleService.updateScaleDefaults('linear', {
        ticks: {
            min: 0
        }
    });


       document.addEventListener('DOMContentLoaded', function () {
    fetch('/data')
        .then(response => response.json())
        .then(data => {
            const states = Array.from(new Set(data.map(item => item.state)));
            const positiveCounts = states.map(state => data.filter(item => item.state === state && item.churn === 1.0).length);
            const negativeCounts = states.map(state => data.filter(item => item.state === state && item.churn === 0.0).length);

            const ctx = document.getElementById('predictionChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: states,
                    datasets: [{
                        label: 'Positive Predictions',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        data: positiveCounts
                    }, {
                        label: 'Negative Predictions',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        data: negativeCounts
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    title: {
                        display: true,
                            text: "Positive Vs Negative",
                                fontSize: 20,
                    },
                }
            });

            const positiveCount = data.filter(item => item.churn === 1.0).length;
            const negativeCount = data.filter(item => item.churn === 0.0).length;

            const ctxPie = document.getElementById('predictionPieChart').getContext('2d');
            new Chart(ctxPie, {
                type: 'doughnut',
                data: {
                    labels: ['Positive Predictions', 'Negative Predictions'],
                    datasets: [{
                        label: 'Prediction Results',
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1,
                        data: [positiveCount, negativeCount]
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            display: false
                        }],
                        xAxes: [{
                            display: false
                        }]
                    }
                }
            });

            // Line Chart
            const ctxLine = document.getElementById('predictionLineChart').getContext('2d');
            new Chart(ctxLine, {
                type: 'line',
                data: {
                    labels: states,
                    datasets: [{
                        label: 'Prediction Counts',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        data: positiveCounts.map((count, index) => count + negativeCounts[index])
                    }]
                },
                options: {
                    title: {
                        display: true,
                            text: "Positive Vs Negative",
                                fontSize: 20,
                    },
                    legend: {
                        position: "right",
                            labels: {
                            fontColor: "gray"
                        },
                        display: true,
                    },

                    elements: {
                        hitRadius: 3,
                    }
            }
            });

            // Bar Chart
            const ctxBar = document.getElementById('predictionBarChart').getContext('2d');
            new Chart(ctxBar, {
                type: 'bar',
                data: {
                    labels: ['Positive Predictions', 'Negative Predictions'],
                    datasets: [{
                        label: 'Prediction Results',
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1,
                        data: [positiveCount, negativeCount]
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        });
});
    </script>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html> 